.content{
    height: 300px;
    width: 200px;
    border: 1px solid indianred;
    background-image: linear-gradient(wheat, brown);
    margin: 20px 500px;
    box-sizing: border-box;
}

input{
  font-size: 15px;
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  margin: 5px;
  
}

#display{
    height:50px;
    width: auto;
    outline: none;
    border-bottom: 2px solid black;
}
